<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Log in</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="login()" [formGroup]="loginForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput type="email" placeholder="Your email...">
          <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required.</mat-error>
          <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is invalid.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput type="password" placeholder="Your password...">
          <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required.</mat-error>
          <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password must be at least 6 symbols.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="loginForm.invalid" mat-stroked-button color="accent" class="btn-block">
        Log in
      </button>
    </form>
  </mat-card>
</div>