<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="signup()" [formGroup]="signupForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="email" matInput type="email" placeholder="Your email...">
          <mat-error *ngIf="signupForm.get('email').hasError('required')">Email is required.</mat-error>
          <mat-error *ngIf="signupForm.get('email').hasError('email')">Email is invalid.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="password" matInput type="password" placeholder="Your password...">
          <mat-error *ngIf="signupForm.get('password').hasError('required')">Password is required.</mat-error>
          <mat-error *ngIf="signupForm.get('password').hasError('minlength')">Password must be at least 6 symbols.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="name" matInput type="text" placeholder="Your name...">
          <mat-error *ngIf="signupForm.get('name').hasError('required')">Name is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="mobile" matInput type="text" placeholder="Your number...">
          <mat-error *ngIf="signupForm.get('mobile').hasError('required')">Mobile is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="birthDate" matInput [matDatepicker]="picker" placeholder="Birthday...">
          <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-hint>Birthday is required.</mat-hint>
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="signupForm.invalid" mat-stroked-button color="accent" class="btn-block">
        Register
      </button>
    </form>
  </mat-card>
</div>