<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Create Listing</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="createListing()" [formGroup]="listingForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="make" matInput type="text" placeholder="Make...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="listingForm.get('make').hasError('required')">Make is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="model" matInput type="text" placeholder="Model...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="listingForm.get('model').hasError('required')">Model is required.</mat-error>
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="listingForm.invalid" mat-stroked-button color="accent" class="btn-block">
        Create
      </button>
    </form>
  </mat-card>
</div>