<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
  <div><a routerLink="/">Home</a></div>
  <ul fxFlex fxLayout fxLayoutAlign="flex-end" fxLayoutGap="10px">
    <ng-template [ngIf]="!isAuth">
      <li>
        <a routerLink="/auth/signin">Login</a>
      </li>
      <li>
        <a routerLink="/auth/signup">Sign Up</a>
      </li>
    </ng-template>
    <ng-template [ngIf]="isAuth">
    <li>
      <a (click)="logout()" style="cursor: pointer;">Logout</a>
    </li>
  </ng-template>
  </ul>
</mat-toolbar>
