<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title>Edit Listing</mat-card-title>
    </mat-card-header>

    <form (ngSubmit)="editListing()" [formGroup]="editForm" class="example-form">
      <mat-card-content>
        <mat-form-field class="example-full-width">
          <input formControlName="make" matInput type="text" placeholder="Make...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('make').hasError('required')">Make is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="model" matInput type="text" placeholder="Model...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('model').hasError('required')">Model is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="year" matInput type="number" placeholder="Year...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('year').hasError('required')">Year is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="kilometers" matInput type="number" placeholder="Kilometers...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('kilometers').hasError('required')">Kilometers are required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="horsePower" matInput type="number" placeholder="Horse power...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('horsePower').hasError('required')">Horse power is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="color" matInput type="text" placeholder="Color...">
        </mat-form-field>
        
        <mat-form-field class="example-full-width">
          <input formControlName="engineType" matInput type="text" placeholder="Engine type...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('engineType').hasError('required')">Engine type is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input formControlName="transmission" matInput type="text" placeholder="Transmission type...">
        </mat-form-field>

        
        <div formArrayName="images">
          <div *ngFor="let item of images.controls; let imageIndex=index" [formGroupName]="imageIndex">
            <mat-form-field class="example-full-width">
            <input formControlName="url" matInput type="text" placeholder="Image Url..."/>
            <button type="button" color="warn" mat-mini-fab matSuffix (click)="deleteImage(imageIndex)"><mat-icon>delete</mat-icon></button>
            </mat-form-field>
            </div>
          </div>
          <button type="button" mat-raised-button color="primary" (click)="addImage()">Add image</button>
        
        <mat-form-field class="example-full-width">
          <input formControlName="price" matInput type="number" placeholder="Price...">
          <mat-hint>Required</mat-hint>
          <mat-error *ngIf="editForm.get('price').hasError('required')">Price is required.</mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <textarea formControlName="description" matInput type="text" placeholder="Description..."></textarea>
        </mat-form-field>
      </mat-card-content>
      <button [disabled]="editForm.invalid" mat-stroked-button color="primary" class="btn-block">
        Edit Listing
      </button>
    </form>
  </mat-card>
</div>